<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
  }
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C9NJF08G05"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C9NJF08G05');
</script>

<!-- Vercel Analytics -->
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>

<body>
  <!-- Firebase -->
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCpYLoaiy18PEQDVnQoa6EXxTet8q-A65M",
      authDomain: "levetica-dev.firebaseapp.com",
      projectId: "levetica-dev",
      storageBucket: "levetica-dev.appspot.com",
      messagingSenderId: "655418358493",
      appId: "1:655418358493:web:4781597badc96730207934",
      measurementId: "G-S1JMM7J26Q"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

<nav>
  <ul class="nav-list">
    <li class="nav-item"><img alt="Face-Binary" height="30" width="40" src="\assets\levetica-logo.jpg"><a href="#">Levetica</a></li>
    <li class="nav-item"><a routerLink="/alternatives" routerLinkActive="active">Alternatives</a></li>
    <li class="nav-item"><a href="https://github.com/mpcgt/levetica">GitHub</a></li>
    <li class="nav-item"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
    <li class="nav-item"><a routerLink="/about" routerLinkActive="active">À propos</a></li>
  </ul>
</nav>

  <br>
  <br>
  <br>
  <br>
   <div style="text-align:center">
      <font size="5rem"><h1><b>Découvrez nos recommandations des logiciels et des OS. 👨‍💻</b></h1></font>
    </div>
    <br>
    <br>
    <div style="background-color: #D3D3D3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
      <strong>Annonces de Levetica : (11/02/2024)</strong>
      <br>
      <hr width="13%">
      <br> 
      Ce site web est actuellement en construction, ce site sera officiellement publiée en bêta à partir du <b>29 mars à 21h <i>(repoussé à 1 mois).</i></b>
    <br>
    <br>
    Vous avez atteint le site web de <b>Levetica</b>, un site web de nos recommandation des logiciels et des systèmes d'exploitation qui sont plus respectueux de la vie privée et qui sont adaptés selon vos besoins.
    <br>
    <br>
    Je vous rappelle que pour le moment, vous ne pouvez pas accéder ce site dans votre téléphone, elle n'est pour le moment compatible uniquement sur ordinateur <i>(Windows, Mac, Linux...)</i>
    <br>
    <br>
    N'hésitez pas à consulter le <a href="https://github.com/mpcgt/levetica">code source</a> du site et merci à ceux qui me soutiennent en laissant une ⭐ dans mon projet. Jetez aussi un coup d'oeil dans ce site si vous voulez en savoir plus dans Levetica. 😊
    <br>
    <br>
    <i>Max - Développeur web et créateur de Levetica</i>
  </div>
  <br>
  <br>
    <div style="text-align:center">
  <h1><b>Bienvenue dans Levetica !</b></h1>
  <br>
  <br>
    <img alt="Mascotte" height="250" width="18%" src="/assets/mascot.png?raw=true">
    <br>
    <br>
    <h4><i>Bounty - La mascotte de Levetica</i></h4>
  </div>
  <h2>Bonjour ! 👋🏼</h2>
    <br>
    <br>
      <p><b>Le monde numérique est dominé par les GAFAM</b> (Google, Amazon, Facebook, Apple et Microsoft). Ces géants du web offrent des services pratiques et populaires, mais ils <b>soulèvent également des inquiétudes</b> concernant la confidentialité, la surveillance, l'éthique et la concentration du pouvoir.
    <br>
    <br>
      <b>C'est pourquoi j'ai créé Levetica.</b> Mon objectif est de <b>partager des informations et des réflexions sur les alternatives aux GAFAM.</b> Je souhaite encourager les gens à <b>explorer des solutions plus respectueuses de la vie privée, de l'éthique et de la diversité.</b>
    <br>
    <br>
      <b>Je crois que chacun a le droit de choisir les outils numériques qu'il utilise.</b> Levetica vise à <b>donner aux gens les moyens de s'affranchir de la dépendance aux GAFAM</b> et de construire un web plus libre et plus ouvert.
    <br>
    <br>
      <b>En explorant ces alternatives, vous pouvez réduire votre dépendance aux GAFAM et contribuer à un web plus diversifié et plus respectueux de vos données.</b>
    <br>
    <br>
      A bientôt et merci à ceux qui me soutiennent en laissant une ⭐ dans mon projet sur <a href="https://github.com/mpcgt/levetica">GitHub</a> 😊</p>
    <br>
    <br>
    <br>
    <br>
    <p>Bientôt, je pourrais vous conseiller des applications plus respectueuses de la vie privée et open-source. ⏰</p>
    <br>
    <br>
    <!-- Arch Linux -->
  <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="Arch" height="40" width="40" src="\assets\icon\arch.png" style="float: left">
    <h2><a href="https://archlinux.org/">Arch Linux</a></h2>
    <br>
    <br>
    <p>Arch Linux est une distribution GNU/Linux indépendante et minimaliste, en "rolling release", pour les utilisateurs expérimentés qui aiment la simplicité et le contrôle total de leur système.</p>
  </div>
  <br>
  <br>
    <!-- Ubuntu -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="Ubuntu" height="40" width="40" src="\assets\icon\ubuntu.png" style="float: left">
    <h2><a href="https://www.ubuntu-fr.org/">Ubuntu</a></h2>
    <br>
    <br>
    <p>Ubuntu est une distribution GNU/Linux gratuite et conviviale, basée sur Debian, accessible aux débutants et offrant un large choix de logiciels préinstallés.</p>
  </div>
  <br>
  <br>
    <!-- Debian -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="Debian" height="30" width="30" src="\assets\icon\debian.png" style="float: left">
    <h2><a href="https://www.debian.org/index.fr.html">Debian</a></h2>
    <br>
    <br>
    <p>Debian est une distribution GNU/Linux non commerciale, composée quasi-exclusivement de logiciels libres, et gérée par une communauté de développeurs bénévoles.</p>
  </div>
  <br>
  <br>
    <!-- Manjaro -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="Manjaro" height="30" width="30" src="\assets\icon\manjaro.png" style="float: left">
    <h2><a href="https://manjaro.org/">Manjaro</a></h2>
    <br>
    <br>
    <p>Manjaro est une distribution Linux conviviale basée sur Arch Linux, offrant une expérience stable et accessible aux débutants comme aux utilisateurs expérimentés</p>
  </div>
  <br>
  <br>
    <!-- Firefox -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="Firefox" height="30" width="30" src="\assets\icon\firefox.png" style="float: left">
    <h2><a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a></h2>
    <br>
    <br>
    <p>Firefox est un navigateur web libre et gratuit, rapide, personnalisable et respectueux de la vie privée.</p>
  </div>
  <br>
  <br>
    <!-- LibreOffice -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="LibreOffice" height="30" width="25" src="\assets\icon\libreoffice.png" style="float: left">
    <h2><a href="https://fr.libreoffice.org/download/telecharger-libreoffice/">LibreOffice</a></h2>
    <br>
    <br>
    <p>LibreOffice est une suite bureautique libre et gratuite, compatible avec Microsoft Office, qui permet de créer et d'éditer des documents texte, des feuilles de calcul, des présentations et des dessins.</p>
  </div>
  <br>
  <br>
    <!-- GIMP -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="GIMP" height="30" width="30" src="\assets\icon\gimp.png" style="float: left">
    <h2><a href="https://www.gimp.org/downloads/">GIMP</a></h2>
    <br>
    <br>
    <p>GIMP est un logiciel libre et gratuit de retouche d'image, de création graphique et de dessin numérique, offrant des fonctionnalités comparables à Photoshop.</p>
  </div>
  <br>
  <br>
    <!-- KeePass -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="KeePassXC" height="30" width="30" src="\assets\icon\keepass.png" style="float: left">
    <h2><a href="https://keepassxc.org/">KeePassXC</a></h2>
    <br>
    <br>
    <p>KeePassXC est un gestionnaire de mots de passe gratuit et open-source qui permet de stocker et de gérer vos mots de passe de manière sécurisée.</p>
  </div>
  <br>
  <br>
    <!-- VLC -->
    <div style="height: 120px; width: 700px; background-color: #E3E3E3; border-radius: 5px; border: 2px solid #808080; padding: 3px;">
    <img alt="VLC" height="30" width="25" src="\assets\icon\vlc.svg" style="float: left">
    <h2><a href="https://www.videolan.org/vlc/index.fr.html">VLC</a></h2>
    <br>
    <br>
    <p>VLC est un lecteur multimédia gratuit et open-source capable de lire la plupart des formats vidéo et audio, ainsi que des DVD, des CD audio et des flux en ligne.</p>
  </div>
    <br>
    <br>
  </body>
    <footer>
      <!-- supprimer les points -->
      <style>
        .nolist {
          list-style: none;
        }
      </style>
      <div class="content-footer">
        <div class="bloc footer-services">
          <h3><strong>🌍 Services</strong></h3>
          <ul class="services-list">
            <li ><a href="#">Levetica</a></li>
            <li><a href="src\app\alternatives\app.alternatives.html">Alternatives</a></li>
            <li><a href="https://github.com/mpcgt/levetica">GitHub</a></li>
            <li><a href="./app.blog.html">Blog</a></li>
            <li><a href="./app.about.html">À propos</a></li>
          </ul>
        </div>
  
        <div class="bloc footer-schedule">
          <h3><strong>😺 GitHub</strong></h3>
          <ul class="schedule-list">
            <li><a href="https://github.com/mpcgt" style="color: #000000" target="_blank">Mon profil</a></li>
            <li><a href="https://github.com/mpcgt/levetica" style="color: #000000" target="_blank">Mon projet</a></li>
          </ul>
        </div>
        </div>
        <div style="text-align:center">
          <h4>Fabriqué avec <img alt="Angular" height="15" width="1%" src="/assets/angular_black.png?raw=true"> et avec ❤️ par <a href="https://github.com/mpcgt"> Max</a></h4>
        </div>
      </footer>

  <router-outlet></router-outlet>
  <!-- Routed views go here -->